version: '3.1'
services:
  course-db:
    image: postgres
    container_name: course-db
    ports:
      - "5432:5432"
    restart: always
    environment:
        POSTGRES_PASSWORD: "1234"
        POSTGRES_DB: course
  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
